.login{
    padding:10%;
    margin:auto;
}
.bg-company-blue {
    background-color: rgb(12, 120, 155) !important;
    color: #fff;
}

.ref{
    font-weight: bold;
}

.ref:hover{
    cursor: pointer;
}